// https://nickcoutsos.github.io/keymap-editor/

#define BASE 0
#define NAV 1
#define NUM 2
#define FUN 3
#define MEDIA 4

#include "zmk-helpers/key-labels/36.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&sk { quick-release; };

&mt { quick-tap-ms = <175>; };

/ {
    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 19 15 16 17 18 19 25 26 27 28 29 33 34 35 30 31 32>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35 30 31 32>;
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        fast_shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <12 13>;
            layers = <0>;
        };

        cmd {
            bindings = <&caps_word>;
            key-positions = <22 23>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <16 17>;
            layers = <0>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";
            bindings = <
&kp Q                &kp W          &kp E         &kp R     &kp T          &kp Y        &kp U            &kp I         &kp O               &kp P
&kp A                &kp S          &kp D         &kp F     &kp G          &kp H        &kp J            &kp K         &kp L               &kp SINGLE_QUOTE
&hm_shift_l LSHFT Z  &hm_l LCTRL X  &kp C         &kp V     &kp B          &kp N        &kp M            &kp COMMA     &hm_r RCTRL PERIOD  &hm_shift_r RSHFT SEMI
                                    &lt 4 ESCAPE  &kp LCMD  &lt 1 SPACE    &lt 3 ENTER  &lt 2 BACKSPACE  &mt RALT TAB
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans                &trans             &trans         &trans         &trans
&trans  &trans  &trans  &trans  &trans    &kp LEFT              &kp DOWN           &kp UP_ARROW   &kp RIGHT      &trans
&trans  &trans  &trans  &trans  &trans    &kp LS(LG(NUMBER_4))  &kp LC(LEFT)       &kp LC(RIGHT)  &kp LG(GRAVE)  &trans
                &trans  &trans  &trans    &trans                &kp LA(BACKSPACE)  &trans
            >;

            label = "nav";
        };

        num {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans
&trans  &trans  &trans  &trans  &trans    &kp N0  &kp N1  &kp N2  &kp N3  &trans
                &trans  &trans  &trans    &trans  &trans  &kp N0
            >;

            label = "num";
        };

        sym {
            bindings = <
&kp TILDE  &kp LESS_THAN  &kp GREATER_THAN  &kp BACKSLASH  &kp PIPE         &kp CARET  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DOLLAR  &trans
&kp EXCL   &kp ASTRK      &kp SLASH         &kp EQUAL      &kp AMPERSAND    &kp HASH   &kp LPAR          &kp RPAR           &trans      &kp QUESTION
&kp GRAVE  &kp MINUS      &kp PLUS          &kp UNDER      &kp PERCENT      &kp AT     &kp LBRC          &kp RBRC           &trans      &kp GRAVE
                          &trans            &trans         &trans           &trans     &sys_reset        &bootloader
            >;

            label = "sym";
        };

        media {
            display-name = "media";
            bindings = <
&sys_reset  &none  &none   &none   &bt BT_CLR    &none         &kp C_PREVIOUS     &kp C_NEXT             &kp C_PP  &sys_reset
&none       &none  &none   &none   &none         &none         &kp K_VOLUME_DOWN  &kp K_VOLUME_UP        &none     &none
&none       &none  &none   &none   &none         &none         &kp SLCK           &kp PAUSE_BREAK        &none     &none
                   &trans  &trans  &trans        &bt BT_SEL 0  &bt BT_SEL 1       &kp LS(LA(LC(LG(S))))
            >;
        };
    };
};
