#define BASE 0
#define NAV 1
#define NUM 2
#define FUN 3
#define MEDIA 4

#include "settings.dtsi"

/ {

  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      display-name = "Base";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬───────────────────────╮
      &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                         &kp Y                    &kp U                    &kp I                    &kp O                   &kp P
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼───────────────────────┤
      &hm_l LCTRL A            &hm_l LALT S             &hm_l LGUI D             &hm_shift_l LSHFT F      &kp G                         &kp H                    &hm_shift_r RSHFT J      &hm_r RGUI K             &hm_r RALT L            &hm_r RCTRL SEMI
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼───────────────────────┤
      &kp Z                    &kp X                    &kp C                    &kp V                    &kp B                         &kp N                    &kp M                    &kp COMMA                &kp DOT                &kp SLASH
// ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼───────────────────────╯
                                                         &lt MEDIA TAB              &lt NAV ESC           &lt NUM SPACE                  &lt NUM RETURN           &lt NAV BACKSPACE       &lt FUN DELETE
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯

      >;
    };

    Nav_layer {
      display-name = "Nav";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────╮
     &trans                     &trans                   &trans                    &trans                     &trans                        &trans              &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS     &kp EQUAL                   &kp MINUS
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &kp LCTRL                  &kp LALT                   &kp LGUI             &kp LSHFT                     &trans                        &kp LEFT              &kp DOWN                &kp UP                   &kp RIGHT                  &kp SINGLE_QUOTE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
    &trans                     &kp LG(X)                  &kp LG(C)                 &kp LG(V)                &trans                        &trans              &kp LEFT_BRACKET           &kp RIGHT_BRACKET        &kp GREATER_THAN             &trans
// ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                       &trans                    &trans                     &trans                        &trans                    &trans                    &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };

    Num_layer {
      display-name = "Num";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────╮
    &trans                     &trans                    &trans                    &trans                    &trans                      &trans                  &kp N7                     &kp N8                  &kp N9                      &kp N0
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &kp LCTRL                  &kp LALT                   &kp LGUI             &kp LSHFT                  &trans                       &trans                     &kp N4                     &kp N5                  &kp N6                      &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &trans                     &kp GRAVE              &kp BACKSLASH              &trans                    &trans                        &trans                &kp N1                     &kp N2                  &kp N3                   &trans
// ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                                                &trans                    &trans                     &trans                        &trans                     &trans                   &trans
//                                                                            ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };

    Fun_layer {
      display-name = "Fun";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────╮
     &trans                     &trans                   &trans                    &trans                     &trans                        &trans                    &kp F7                     &kp F8                  &kp F9                     &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
    &kp LCTRL                  &kp LALT                   &kp LGUI             &kp LSHFT                      &trans                        &trans                     &kp F4                     &kp F5                  &kp F6                    &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
    &trans                     &trans                   &trans                    &trans                     &trans                        &trans                    &kp F1                     &kp F2                  &kp F3                    &trans
// ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                        &trans                    &trans                     &trans                        &trans                    &trans                    &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };

    Media_layer {
      display-name = "Media";
      bindings = <
// ┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬
  &sys_reset                &studio_unlock                  &trans                    &trans                     &trans                        &trans                 &trans                    &trans                    &trans                    &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &ext_power EP_TOG         &trans                   &trans                    &trans                     &trans                        &kp C_PREVIOUS        &kp K_VOLUME_DOWN        &kp K_VOLUME_UP           &kp C_NEXT                    &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
       &bt BT_CLR                     &trans                   &trans                    &trans                     &trans                   &trans               &kp SLCK            &kp PAUSE_BREAK           &trans                    &trans
// ╰────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────╯
                                                       &trans                    &trans                     &trans                        &bt BT_SEL 0            &bt BT_SEL 1            &kp LC(LG(Q))
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };
  };
};